<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Añadir moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Foto -->
  <ion-item>
    <form id="form">
      <label for="foto">
        <img id="icon" src="/assets/camara.svg">
      </label>
      <input id="foto" type="file" name="foto" accept="image/*" capture="camera" />
    </form>
  </ion-item>
<!-- Otros inputs -->
  <ion-item>
    <label>Marca</label>
    <input [(ngModel)]="marca" slot="end" type="text">
  </ion-item>
  <ion-item>
    <label>Modelo</label>
    <input [(ngModel)]="modelo" slot="end" type="text">
  </ion-item>
  <ion-item>
    <label>Año</label>
    <input [(ngModel)]="fecha" slot="end" type="number">
  </ion-item>
  <ion-item>
    <label>Precio</label>
    <input [(ngModel)]="precio" slot="end" type="number">
  </ion-item>
  <!-- Botón de guardar foto -->
  <ion-button expand="block" (click)="guardarMoto()">Guardar</ion-button>
</ion-content>