<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Detalle Moto</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Detalles de la moto -->
<ion-content>
  <ion-card>

    <!-- Foto -->
    <ion-card-header>
      <ion-img src={{data.foto}}></ion-img>
    </ion-card-header>

    <!-- Títulos y texto -->
    <ion-card-content>
      <ion-card-subtitle>{{data.marca}}</ion-card-subtitle>
      <ion-card-title>{{data.modelo}}</ion-card-title>
      <p>Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.</p>
      <ion-button color="warning" (click)="confirmarBorrarMoto()">BORRAR MOTO</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
